{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(register_form) }}
    <table>
        <tr>
            <td>Username</td>
            <td>
            {{ form_row(register_form.username) }}
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                {{ form_row(register_form.password) }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {{ form_widget(register_form) }}
                <button type="submit">register</button>
            </td>
        </tr>
    </table>
    {{ form_end(register_form) }}
    
{% endblock %}

